<h1>Tareas</h1>
<button class="btn btn-outline-primary" [routerLink]="['nuevo']">Nueva Tarea</button>
<hr>
<div class="" *ngIf="tareas">
<div class="list-group" *ngFor="let ta of tareas">
  <a [routerLink]="['/dashboard/tarea', ta.idTarea]" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ta.titulo}}</h5>
      <small class="text-muted">{{ta.fecha_final}}</small>
    </div>
    <p class="mb-1">{{ta.descripcion}}</p>
    <small class="text-muted">{{ta.categoria}}</small>
  </a>
  
  <button (click)="borrarTarea(ta.idTarea)" class="btn btn-outline-danger btn-sm">Eliminar</button>
  <br>
</div>
</div>