<h1>Tarea: <small>{{tarea.titulo}}</small></h1>
<button class="btn btn-outline-primary"
[routerLink]="['/dashboard/tarea/nuevo']">
  Nueva Tarea
</button>
<button class="btn btn-outline-secondary"
[routerLink]="['/dashboard/tarea']">
  Regresar
</button>
<hr>
<div *ngIf="notificacion.estado"
class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<form #formularioTarea="ngForm" (ngSubmit)="guardarCambios()">
    <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control"
        placeholder="Ingrese el titulo"
        [(ngModel)]="tarea.titulo"
         name="titulo">
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input  type="text" class="form-control"
        placeholder="Ingrese la descripcion"
        [(ngModel)]="tarea.descripcion"
         name="descripcion">
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <input  type="text" class="form-control"
        placeholder="Ingrese la categoria"
        [(ngModel)]="tarea.categoria"
         name="categoria">
    </div>
    <div class="form-group">
        <label>Fecha final</label>
        <input  type="date" class="form-control"
        placeholder="Ingrese la fecha"
        [(ngModel)]="tarea.fecha_final"
         name="fecha_final">
    </div>        
  <div class="form-group">
    <label>Prioridad</label>
    <select class="form-control"
    name="prioridad"
    [(ngModel)]="tarea.prioridad">
      <option value="0">Seleccione una opcion</option>
      <option value="1">Alta</option>
      <option value="2">Media</option>
      <option value="9">Baja</option>
    </select>
  </div>
   <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
