<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Agenda In6av</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['body']">Body</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link "[routerLink]="['usuario']" >Usuarios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"[routerLink]="['categoria']">Categoria</a>
      </li>
      <li class="nav-item" routerLinkActive = "active" >
        <a class="nav-link"[routerLink]="['contacto']">Contacto</a>
      </li> 
      <li class="nav-item" routerLinkActive = "active" >
        <a class="nav-link"[routerLink]="['tarea']">Tarea</a>
      </li> 
      <li class="nav-item" routerLinkActive = "active" >
        <a class="nav-link"[routerLink]="['historial']">Historial</a>
      </li> 
    </ul>
  </div>
</nav>
