<h1>Citas</h1>
<button class="btn btn-outline-primary" >Nueva Cita</button>
<hr>
<div class="" *ngIf="citasComponent">
<div class="list-group" *ngFor="let cit of citasComponent">
  <a  class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <small class="text-muted">{{cit.fecha}}</small>
    </div>
    <p class="mb-1">{{cit.descripcion}}</p>
    <small class="text-muted">{{cit.nombre}}</small>
  </a>
  
  <button (click)="borrarCita()" class="btn btn-outline-danger btn-sm">Eliminar</button>
  <br>
</div>
</div>