<div class="row">
    <div class="col-md-6">
        <h1>NgIf</h1>
        <hr>
        <button type="button" class="btn btn-outline-primary btn-block"
        (click)="mostrar = !mostrar">
                Mostrar/Ocultar
        </button>
        <br>
        <div *ngIf="mostrar" class="card card-inverse card-danger text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>{{frase.mensaje}}</p>
      <footer>{{frase.autor}}</footer>
    </blockquote>
  </div>
</div>
    </div>
    <div class="col-md-6">
    <h1>NgFor</h1>
    <hr>
    <ul class="list-group">
        <li *ngFor = "let persona of personajes" class="list-group-item">
            {{persona}}
        </li>

    </ul>
</div>
</div>
