<h1>Contacto <small>{{ contacto.nombre + " " + contacto.apellido | lowercase }}</small></h1>
<button class="btn btn-outline-primary"
[routerLink]="['/dashboard/contacto/nuevo']">
  Nuevo Contacto
</button>
<button class="btn btn-outline-secondary"
[routerLink]="['/dashboard/contacto']">
  Regresar
</button>
<hr>
<div *ngIf="notificacion.estado"
class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<form #formularioContacto="ngForm" (ngSubmit)="guardarCambios()">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control"
    placeholder="Ingrese su nombre"
    [(ngModel)]="contacto.nombre"
    name="nombre">
  </div>
  <div class="form-group">
    <label>Apellido</label>
    <input type="text" class="form-control"
    placeholder="Ingrese su apellido"
    [(ngModel)]="contacto.apellido"
    name="apellido">
  </div>
  <div class="form-group">
    <label>Direccion</label>
    <input type="text" class="form-control"
    placeholder="Ingrese su direccion"
    [(ngModel)]="contacto.direccion"
    name="direccion">
  </div>
  <div class="form-group">
    <label>Correo</label>
    <input type="email" class="form-control"
    placeholder="Ingrese el correo"
    [(ngModel)]="contacto.correo"
    name="correo"/>
  </div>
  <div class="form-group">
    <label>Telefono</label>
    <input type="text" class="form-control"
    placeholder="Ingrese su telefono"
    [(ngModel)]="contacto.telefono"
    name="telefono">
  </div>
  <div class="form-group">
    <label>Categoria</label>
    <select class="form-control"
    name="idCategoria"
    [(ngModel)]="contacto.idCategoria">
      <option value="0">Seleccione una opcion</option>
           <option *ngFor="let categoria of categoriaService.categorias" value="{{categoria.idCategoria}}">{{ categoria.nombreCategoria }}</option>

    </select>
  </div>
  <div *ngIf="!contacto.foto" class="panel-body">
    <form method="post" enctype="multipart/form-data">
      <label>Foto Contacto</label>
      <input type="file" (change)="fileUpload($event)" name="file"/>
    </form>
  </div>
  <div class="form-group">
    <img class="container" *ngIf="contacto.foto !== 'undefined'" src="{{contacto.foto}}"
    width="-900px" height="100px"/>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>