<h1>Usuario</h1>
<hr>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Contrasena</th>
      <th>Opciones</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let usuario of _usuarioService.usuarios">
      <th scope="row">{{usuario.idUsuario}}</th>
      <td>{{usuario.nick}}</td>
      <td>{{usuario.contrasena}}</td>
      <td>
          <div class="btn-group" >
            <button class="btn btn-warning" type="submit" 
            data-toggle="modal" 
            data-target="#myModalEditarUsuario"
            (click)= "cargar(usuario)">
              Editar 
            </button>
            <button class="btn btn-danger" (click)= "eliminar(usuario.idUsuario)">
              Eliminar
            </button>
          </div>
      
      </td>  
    </tr>

  </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalUsuarioNuevo">Agregar</button>
<div class="modal fade" id="myModalUsuarioNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form  [formGroup]="formularioAgregar" (ngSubmit)= "agregar()">
                <div class="modal-header">
          
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNombre">Nick</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                              placeholder="Ingrese su nick" formControlName="nick" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword"
                              placeholder="Ingrese su contrasena" formControlName="contrasena" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!formularioAgregar.valid" >Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalEditarUsuario" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" *ngIf="usuarioCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formularioEditar" (ngSubmit)= "editar()">
                <div class="modal-header">
            
                    <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input   type="text" class="form-control" name="inputId" id="inputId"
                               [value]="usuarioCargado.idUsuario" formControlName="idUsuario"/>
                    </div>
                    <div class="form-group">
                        <label for="inputNombre">Nick</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                                [value]="usuarioCargado.nick" formControlName="nick"/>
                    </div>
                    <div class="form-group">
                        <label for="inputSueldo">Password</label>
                        <input type="password" class="form-control" name="inputSueldo" id="inputSueldo"
                                [value]="usuarioCargado.contrasena" formControlName="contrasena"/>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>