<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">Login</h1>
      <hr>
      <form [formGroup]="formularioLogin" (ngSubmit)= "iniciarSesion()">
        <div class="form-group"> 
          <label for="Nick">Nikc</label>
          <input type="text" class="form-control"  placeholder="Ingrese su nick" formControlName="nick"/>
          </div>
          <div class="form-group"> 
          <label for="Password">Password</label>
          <input type="password" class="form-control"  placeholder="Ingrese su contrasena" formControlName="contrasena"/>
          </div>
           <div class="form-group"> 
            <button type="submit" [disabled]="!formularioLogin.valid" class="btn btn-outline-primary btn-block">Iniciar sesion</button>
          
          </div>
      </form>
      </div>
    </div>
</div>