<h1>Categoria</h1>
<hr>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of _categoriaService.categorias">
      <th scope="row">{{cat.idCategoria}}</th>
      <td>{{cat.nombreCategoria}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-warning"
            data-toggle="modal" 
            data-target="#myModalEditarCategoria"
            (click)= "cargar(cat)">
            Editar
          </button>
          <button class="btn btn-danger" (click)="eliminar(cat.idCategoria)">
            Eliminar
          </button>
        </div>
        </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCategoriaNueva">Agregar</button>

<div class="modal fade" id="myModalCategoriaNueva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formularioAgregar" (ngSubmit)= "agregar()" >
                <div class="modal-header">
          
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                              placeholder="Ingrese el nombre de la categoria" formControlName="nombreCategoria" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!formularioAgregar.valid" [hidden]="hideModal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalEditarCategoria" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" *ngIf="categoriaCargada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formularioEditar" (ngSubmit)= "editar()">
                <div class="modal-header">
            
                    <h4 class="modal-title" id="myModalLabel">Editar Categoria</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputId">Id</label>
                        <input   type="text" class="form-control" name="inputId" id="inputId"
                               [value]="categoriaCargada.idCategoria" formControlName="idCategoria"/>
                    </div>
                    <div class="form-group">
                        <label for="inputNombre">Nick</label>
                        <input type="text" class="form-control" name="inputNombre" id="inputNombre"
                                [value]="categoriaCargada.nombreCategoria" formControlName="nombreCategoria"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [hidden]="hideModal">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>