<div class="container">
  <div class="page-header">
    <h1 id="timeline">Linea de Tiempo</h1>
    <hr>
  </div>
  <ul class="timeline">

    <li  *ngFor="let histo of historial">
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{histo.descripcion}}</h4>
        </div>
        <div class="timeline-body">
          <p>Se realizo algun cambio en el sistema con la descripcion: {{histo.descripcion}}.</p>
          <p>Con la fecha del cambio: {{histo.fechaF}}.</p>
          <p>La hora del cambio: {{histo.horaF}}.</p>
        </div>
      </div>
    </li>

  </ul>
</div>